<div id="<%= dom_id aprendiz %>">
  <p>
    <strong>Documento:</strong>
    <%= aprendiz.documento %>
  </p>

  <p>
    <strong>Nombres:</strong>
    <%= aprendiz.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= aprendiz.apellidos %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= aprendiz.correo %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= aprendiz.fecha_nacimiento %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= aprendiz.estado %>
  </p>

</div>
