<p style="color: green"><%= notice %></p>

<%= render @aprendiz %>

<div>
  <%= button_to "Eliminar aprendiz", @aprendiz, method: :delete, class:"btn btn-danger" %>

  <%= link_to "Modificar aprendiz", edit_aprendiz_path(@aprendiz), class:"btn btn-warning" %>
  <br/>
  <%= link_to "Listado de aprendices", aprendizs_path, class:"btn btn-primary" %>

</div>
