<div id="<%= dom_id instructor %>">
  <p>
    <strong>Documento:</strong>
    <%= instructor.documento %>
  </p>

  <p>
    <strong>Nombres:</strong>
    <%= instructor.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= instructor.apellidos %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= instructor.correo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= instructor.estado %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= instructor.fecha_nacimiento %>
  </p>

  <p>
    <strong>Competencia:</strong>
    <%= instructor.competencia %>
  </p>

</div>
